@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <div class="results">
        <h1>Movies</h1>
        @foreach (Movie movie in Model.Movies)
        {
            <div class="movie-entry">
                <h2>@movie.Title (@movie.Year)</h2>
                <p>Rated @movie.MPAA_Rating</p>
                <div class="reviews">
                    <div>
                        Rotten Tomatoes
                        <h3>
                            @movie.Rotten_Tomatoes_Rating
                        </h3>
                    </div>

                    <div>
                        IMDb
                        <h3>
                            @movie.IMDB_Rating
                        </h3>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <form method="post">
            <h4>Search</h4>
            <input type="text" name="search" value="@Model.search"/>
            <input type="submit" value="Search and Filter" />

            <h4>Filter by MPAA rating</h4>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="rating" value="G" checked="@Model.rating.Contains("G")" />
                    Rated G
                </label>
            </div>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="rating" value="PG" checked="@Model.rating.Contains("PG")" />
                    Rated PG
                </label>
            </div>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="rating" value="PG-13" checked="@Model.rating.Contains("PG-13")" />
                    Rated PG-13
                </label>
            </div>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="rating" value="R" checked="@Model.rating.Contains("R")" />
                    Rated R
                </label>
            </div>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="rating" value="NC-17" checked="@Model.rating.Contains("NC-17")" />
                    Rated NC-17
                </label>
            </div>
            <div class="checkbox-list">
                <label>
                    <input type="checkbox" name="rating" value="Not Rated" />
                    Not Rated
                </label>
            </div>

            <h4>Review Score</h4>
            <label>
                Minimum IMDb Rating:
                <input type="number" min="0" max="10" step="0.1" name="minIMDb" value="@Model.minIMDb" />
            </label>
            <label>
                Maximum IMDb Rating:
                <input type="number" min="0" max="10" step="0.1" name="maxIMDb" value="@Model.maxIMDb" />
            </label>
        </form>
    </div>
</div>



