@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <div class="results">
        <h1>Movies</h1>
        @foreach (Movie movie in Model.Movies)
        {
            <div class="movie-entry">
                <h2>@movie.Title (@movie.Year)</h2>
                <p>Rated @movie.MPAA_Rating</p>
                <div class="reviews">
                    <div>
                        Rotten Tomatoes
                        <h3>
                            @movie.Rotten_Tomatoes_Rating
                        </h3>
                    </div>

                    <div>
                        IMDb
                        <h3>
                            @movie.IMDB_Rating
                        </h3>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
    <form method="post">
        <h4>Search</h4>
        <input type="text" name="search" />
        <input type="submit" value="Search" />
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="rating" value="G" />
                Rated G
            </label>
        </div>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="rating" value="PG" />
                Rated PG
            </label>
        </div>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="rating" value="PG-13" />
                Rated PG-13
            </label>
        </div>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="rating" value="R" />
                Rated R
            </label>
        </div>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="rating" value="NC-17" />
                Rated NC-17
            </label>
        </div>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="rating" value="Not Rated" />
                Not Rated
            </label>
        </div>
    </form>
    </div>
</div>



